
<div class="kontakt">
  <h1>Är du leverantör och vill bli medlem?</h1>
  <p>petter.fagerlund@gmail.com</p>
  <p>+46 709684279</p>

</div>


 <footer class="footer_index">
<p class="footer_index_text">          Digirek AB <br> org.nr: 556976-8269 <br>
    Gumshornsgatan 7, 114 60 Göteborg
  </p>

  <a href="#" class="fa fa-facebook"></a>

  <a href="#" class="fa fa-linkedin"></a>

  <a href="#" class="fa fa-instagram"></a>

  <a href="#" class="fa fa-youtube"></a>

</footer>
